.nav a, .nav div {
	padding: 0.5em;
}

.nav {
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 0.1em solid black;
}

footer {
	margin-top: 1em;
	padding-top: 0.5em;
	border-top: 0.1em solid black;
	font-style: italic;
}